---
import Title from "@components/Title.astro";
import { Image } from "astro:assets";
import aboutImg1 from "@assets/images/about-img-1.webp";
import Highlight from "@components/Highlight.astro";
---

<section id="about" class="flex flex-col">
  <Title> ABOUT ME </Title>
  <article class="flex flex-col items-center gap-10 lg:flex-row">
    <div class="flex flex-col gap-2">
      <p class="text-justify text-gray-500 dark:text-gray-400">
        I'm a <Highlight>passionate software developer</Highlight> with an engineering
        background who thrives in web development. While <Highlight
          >comfortable across the full stack</Highlight
        >, I have a special love for <Highlight
          >crafting intuitive frontend experiences</Highlight
        >. I'm constantly exploring new technologies to <Highlight
          >grow my skills and push creative boundaries</Highlight
        >.
      </p>
      <p class="text-justify text-gray-500 dark:text-gray-400">
        In my free time, I enjoy contributing to open-source projects,
        laveraging ideas for new projects that can help me improve my <Highlight
          >software engineering skills</Highlight
        > and <Highlight>sharing my knowledge with others </Highlight> through mentoring.
      </p>
      <p class="text-justify text-gray-500 dark:text-gray-400">
        When not working, I enjoy longboarding around town, playing video games,
        and watching movies. My free time is also happily spent with my six pets
        - three dogs and three cats. 🐶🐱
      </p>
    </div>
    <figure
      class="flex size-auto max-w-[600px] flex-col gap-2 overflow-hidden rounded-md"
    >
      <Image
        src={aboutImg1}
        alt="A photo of me with Lila and Limón"
        class="h-full w-full object-cover"
        loading="eager"
      />
      <figcaption>
        <p class="text-sm text-gray-400">
          <em>A special moment with Lila and Limón, two of my pups.</em>
        </p>
      </figcaption>
    </figure>
  </article>
</section>
