---
import Title from "@components/Title.astro";
import { SECTIONS_IDS } from "@utils/constants";
---

<section id={SECTIONS_IDS.education} class="flex flex-col gap-12">
  <Title> EDUCATION </Title>
</section>
