---
import ExperienceTimelineItem from "@components/ExperienceTimelineItem.astro";
import Title from "@components/Title.astro";
import ChevronUp from "@components/icons/ChevronUp.astro";
import { SECTIONS_IDS } from "@utils/constants";
---

<section id={SECTIONS_IDS.experience} class="flex flex-col gap-12">
  <Title>Experience</Title>
  <div class="flex flex-col justify-center">
    <div class="relative">
      <ol
        class="flex flex-col gap-10 border-s border-gray-200 pb-5 pt-4 text-start dark:border-gray-700"
      >
        <ExperienceTimelineItem
          title="Software Developer"
          company="Sirius Software"
          companyHref="https://sirius.com.ar"
          companyColorClasses="text-sky-400"
          dotColorClasses="bg-blue-200 dark:border-blue-600 dark:bg-blue-500"
          timePeriod="Nov 2020 - Present"
        >
          Progressed from trainee to full-time Software Developer, demonstrating
          rapid growth and technical proficiency. <br />
          Delivered high-quality web applications across diverse industries for <span
            class="text-slate-800 dark:text-slate-100"
            >startups and enterprise clients</span
          >, adapting to unique business requirements and technical constraints. <br />
          Mentored junior colleagues, conducted technical interviews for open positions, 
          performed code reviews, and led development teams to ensure project success.
        </ExperienceTimelineItem>
      </ol>
      <ChevronUp classes="absolute -left-[7.5px] -top-[12px]" />
    </div>

    <div>
      <h4
        class="w-fit border-b border-s border-gray-200 bg-gradient-to-b from-sky-400 to-sky-600 bg-clip-text px-4 pb-2 text-start text-xl font-bold text-transparent dark:border-gray-700"
      >
        Projects at Sirius Software
      </h4>
      <ol
        class="relative ml-4 flex flex-col gap-10 border-s border-gray-200 pb-10 pl-4 pt-4 text-start dark:border-gray-700"
      >
        <ExperienceTimelineItem
          title="Full Stack React/RoR Developer"
          dotColorClasses="bg-rose-200 dark:border-rose-600 dark:bg-rose-500"
          timePeriod="Aug 2022 - Present"
          technologies={[
            "Ruby on Rails",
            "React",
            "Ruby",
            "Javascript",
            "PostgreSQL",
            "Redis",
            "MUI",
            "Docker",
            "Sidekiq",
            "RSpec",
            "Jest",
          ]}
        >
          Contribute to a high-traffic ecommerce platform by engineering
          full-stack features and implementing technical improvements with focus
          on <span class="text-slate-800 dark:text-slate-100"
            >performance, scalability, and security</span
          >. <br />
          Collaborate across teams to optimize existing functionality, reduce technical
          debt, and enhance platform reliability for business-critical operations.
        </ExperienceTimelineItem>

        <ExperienceTimelineItem
          title="Full Stack MERN Developer"
          dotColorClasses="bg-yellow-200 dark:border-yellow-600 dark:bg-yellow-500"
          timePeriod="Sep 2022 - Apr 2023"
          technologies={[
            "React",
            "NodeJS",
            "Express",
            "MongoDB",
            "Javascript",
            "Redux",
            "HTML",
            "CSS",
            "Sass",
          ]}
        >
          <span class="text-slate-800 dark:text-slate-100"
            >Architected and built impactful features for a people matchmaking
            platform</span
          >, focusing primarily on frontend user experience and interactive
          components. <br />
          Contributed to the full product lifecycle including API development, configuration
          management, and deployment processes.
        </ExperienceTimelineItem>

        <ExperienceTimelineItem
          title="React Developer"
          dotColorClasses="bg-teal-200 dark:border-teal-600 dark:bg-teal-500"
          timePeriod="Jan 2021 - Sep 2022"
          technologies={[
            "React",
            "Javascript",
            "Redux",
            "MUI",
            "HTML",
            "CSS",
            "Sass",
          ]}
        >
          Engineered performance-optimized dashboards and interactive interfaces
          for a SaaS platform serving sales engineers. <br />
          <span class="text-slate-800 dark:text-slate-100"
            >Led development of business-critical features</span
          > including real-time form auto-saving functionality and the Salesforce
          integration interface.
        </ExperienceTimelineItem>

        <ExperienceTimelineItem
          title="React Native Developer"
          dotColorClasses="bg-lime-200 dark:border-lime-600 dark:bg-lime-500"
          timePeriod="Dec 2020 - Feb 2021"
          technologies={[
            "React Native",
            "Javascript",
            "Expo",
            "Firebase",
            "Strapi",
          ]}
        >
          Developed a mobile application and integrated it with a content
          management system.
        </ExperienceTimelineItem>

        <ExperienceTimelineItem
          title="Frontend Web Developer Trainee"
          dotColorClasses="bg-blue-200 dark:border-blue-600 dark:bg-blue-500"
          timePeriod="Nov 2020 - Dec 2020"
          technologies={["React", "Javascript", "Redux", "HTML", "CSS", "Sass"]}
        >
          Joined Sirius Software and took my first steps in the software
          development industry as a frontend trainee.
        </ExperienceTimelineItem>
      </ol>
    </div>

    <div class="relative">
      <ol
        class="b flex w-fit flex-col gap-10 border-s border-t border-gray-200 pb-4 pr-4 pt-4 text-start dark:border-gray-700"
      >
        <ExperienceTimelineItem
          title="Systems Lab Intern"
          dotColorClasses="bg-green-800 dark:border-green-800 dark:bg-green-600"
          timePeriod="Apr 2019 - Dec 2020"
          technologies={["Python", "C/C++", "Arduino", "Linux"]}
          liClass="max-w-[750px]"
        >
          Led <span class="text-slate-800 dark:text-slate-100"
            >research and development</span
          > for an innovative therapy-focused gaming console designed for disabled
          children. Implemented haptic feedback and motion-sensing capabilities and
          designed control systems that enhanced accessibility and the overall therapeutic
          experience.
        </ExperienceTimelineItem>
      </ol>
      <div
        class="absolute -start-[5.5px] h-3 w-3 rounded-full border border-white bg-gray-200 dark:border-gray-700 dark:bg-gray-700"
      >
      </div>
    </div>
  </div>
</section>
