---
import { Image } from "astro:assets";
import francoRossiImage from "@assets/images/franco-rossi-no-bg.webp";
import LinkedIn from "@components/icons/LinkedIn.astro";
import GitHub from "@components/icons/GitHub.astro";
import { yearsOfExperience } from "@utils/functions";
import { SECTIONS_IDS } from "@utils/constants";
---

<section id={SECTIONS_IDS.hero} class="flex flex-col items-center gap-6">
  <figure
    id="franco-rossi"
    class="size-40 cursor-pointer overflow-hidden rounded-full bg-[radial-gradient(theme(colors.indigo.500),theme(colors.indigo.200))] brightness-95"
  >
    <Image
      src={francoRossiImage}
      alt="Franco Rossi"
      class="h-full w-full object-cover"
      loading="eager"
    />
  </figure>
  <div class="flex flex-col justify-center gap-8">
    <article class="flex flex-col justify-center gap-2">
      <header class="flex justify-center">
        <h1 class="text-5xl font-extrabold">
          Hey, I'm<span
            class="animate-gradient bg-[linear-gradient(to_right,theme(colors.amber.500),theme(colors.amber.400),theme(colors.fuchsia.400),theme(colors.fuchsia.500),theme(colors.fuchsia.400),theme(colors.amber.400),theme(colors.amber.500))] bg-[length:200%_auto] bg-clip-text text-5xl font-extrabold text-transparent"
          >
            Franco Rossi
          </span>
        </h1>
      </header>
      <h2 class="text-2xl">Full Stack Web Developer</h2>

      <p class="max-w-[600px] font-extralight">
        With over {yearsOfExperience()} years of experience working with agile teams
        and a proficiency in a variety of technologies and frameworks, <span
          class="bg-[linear-gradient(to_right,theme(colors.amber.500),theme(colors.amber.400),theme(colors.fuchsia.400),theme(colors.fuchsia.500),theme(colors.fuchsia.400),theme(colors.amber.400),theme(colors.amber.500))] bg-[length:200%_auto] bg-clip-text text-transparent"
          >I can bring your ideas to life through software engineering.</span
        >
      </p>
    </article>

    <footer class="flex justify-center gap-4">
      <a
        id="linkedin-anchor"
        class="group relative z-10 h-fit w-fit items-center gap-1 rounded-full border border-slate-600 bg-slate-900 text-white shadow-lg transition-all duration-300 hover:scale-110"
        href="https://www.linkedin.com/in/francoarossi/"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Contact link to LinkedIn</span>
        <div
          class="z-10 flex h-full w-full items-center justify-center gap-2 rounded-full bg-slate-900 px-3 py-2"
        >
          <LinkedIn classes="w-4 h-4" />
          <span class="block">LinkedIn</span>
        </div>

        <div
          class="absolute -inset-[1px] -z-10 animate-gradient rounded-full bg-[linear-gradient(to_right,theme(colors.amber.500),theme(colors.amber.400),theme(colors.fuchsia.400),theme(colors.fuchsia.500),theme(colors.fuchsia.400),theme(colors.amber.400),theme(colors.amber.500))] bg-[length:200%_auto] opacity-75 blur transition duration-300 group-hover:opacity-100 group-hover:duration-200"
        >
        </div>
      </a>
      <a
        class="flex items-center gap-1 rounded-full border border-slate-600 bg-slate-900 px-3 py-2 transition-all hover:scale-110"
        href="https://github.com/FrancoARossi"
        target="_blank"
        rel="noopener noreferrer"
      >
        <span class="sr-only">Github link</span>
        <div class="flex items-center gap-2">
          <GitHub /> GitHub
        </div>
      </a>
    </footer>
  </div>
</section>

<script>
  import { completeEasterEgg } from "@utils/functions.js";

  let clickCounter = 0;

  const handleClick = () => {
    clickCounter++;

    if (clickCounter === 4) {
      const figure = document.getElementById("franco-rossi");
      figure?.classList.add("animate-shake");
      clickCounter = 0;

      completeEasterEgg("image-shake");
    }
  };

  const handleRemoveShake = () => {
    const figure = document.getElementById("franco-rossi");
    figure?.classList.remove("animate-shake");
  };

  const figure = document.getElementById("franco-rossi");

  figure?.addEventListener("click", handleClick);
  figure?.addEventListener("animationend", handleRemoveShake);
</script>
