---
import { yearsOfExperience } from "@utils/functions";
import Main from "@layouts/Main.astro";
import Hero from "@components/sections/Hero.astro";
import About from "@components/sections/About.astro";
import Experience from "@components/sections/Experience.astro";
import Projects from "@components/sections/Projects.astro";
import Education from "@components/sections/Education.astro";
import ContactButton from "@components/ContactButton.astro";
import ScrollReveal from "@components/ScrollReveal.astro";
---

<Main
  title="Franco Rossi's Portfolio"
  description={`Full Stack Web Developer | ${yearsOfExperience()}+ years' experience | Agile team player | React, Ruby on Rails, PostgreSQL, AWS and many more!`}
>
  <ScrollReveal>
    <Hero />
    <About />
    <Experience />
    <Projects />
    <Education />
  </ScrollReveal>
  <ContactButton />
</Main>

<style></style>
