---
import Main from "../layouts/Main.astro";
import Hero from "../components/Hero.astro";
import Experience from "../components/Experience.astro";
import Education from "../components/Education.astro";
import { yearsOfExperience } from "../utils/functions";
import ContactButton from "../components/ContactButton.astro";
---

<Main
  title="Franco Rossi's Portfolio"
  description={`Full Stack Web Developer | ${yearsOfExperience()}+ years' experience | Agile team player | React, Ruby on Rails, PostgreSQL, AWS and many more!`}
>
  <Hero />
  <!-- <About /> -->
  <Experience />
  <!-- <Projects /> -->
  <!-- <Education /> -->

  <ContactButton />
</Main>

<style></style>
