---
import { twMerge } from "tailwind-merge";

type Props = {
  variant: "primary" | "secondary";
  text?: string;
  title?: string;
  href?: string;
};

const { variant, text, href, title } = Astro.props;
---

<a
  class="relative mb-2 me-2 inline-flex cursor-pointer items-center justify-center overflow-hidden rounded-lg bg-gradient-to-br from-cyan-600 to-blue-600 p-0.5 text-sm font-medium text-gray-900 hover:from-cyan-700 hover:to-blue-700 hover:text-white focus:outline-none focus:ring-4 focus:ring-cyan-200 dark:text-white dark:focus:ring-cyan-800"
  href={href}
  target="_blank"
  title={title}
  rel="noopener noreferrer"
>
  <span
    class={twMerge(
      "relative rounded-md bg-white px-5 py-2.5 transition-all duration-75 bg-opacity-0 ease-in",
      variant === "primary" ? "" : "bg-opacity-0 dark:bg-gray-900",
    )}
  >
    {text || <slot />}
  </span>
</a>
