---
import { navbarLinks } from "../utils/constants";
---

<header
  class="fixed left-0 top-0 z-50 flex h-16 w-full items-center justify-around bg-slate-950 text-slate-200"
>
  <div
    id="franco-rossi-header"
    class="flex cursor-pointer select-none items-center transition-all duration-300"
  >
    &lt;<h1 class="font-bold">Franco Rossi</h1>&nbsp;/&gt;
  </div>
  <nav>
    <menu class="flex items-center gap-4">
      {
        navbarLinks.map((link) => (
          <li>
            <a href={link.href} class="transition-all">
              {link.name}
            </a>
          </li>
        ))
      }
    </menu>
  </nav>
</header>

<script>
  const francoRossiHeader = document.getElementById("franco-rossi-header");
  const francoRossiHeaderColor = localStorage.getItem("francoRossiHeaderColor");

  if (francoRossiHeader && francoRossiHeaderColor) {
    francoRossiHeader.style.color = francoRossiHeaderColor;
  }

  francoRossiHeader?.addEventListener("click", (e) => {
    const colors = [
      "rgb(228, 228, 231)", // slate-200
      "rgb(245, 158, 11)", // amber-500
      "rgb(217, 70, 239)", // purple-500
    ];
    const el = e.currentTarget as HTMLElement;

    const nextColor =
      colors[(colors.indexOf(el.style.color || colors[0]) + 1) % colors.length];

    localStorage.setItem("francoRossiHeaderColor", nextColor);
    el.style.color = nextColor;
  });
</script>
