<header>
  <nav>
    <menu>
      <li><a href="#about">Home</a></li>
      <li><a href="index.php?page=about">About</a></li>
      <li><a href="index.php?page=contact">Contact</a></li>
    </menu>
  </nav>
</header>
