---
import SpeedInsights from "@vercel/speed-insights/astro";

import "@fontsource/onest/200.css";
import "@fontsource/onest/400.css";
import "@fontsource/onest/700.css";
import "@fontsource/onest/800.css";
---

<!doctype html>
<html lang="en" class="bg-zinc-900">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Welcome to my portfolio website! I'm a Full Stack Web Developer with over 3 years of experience working with agile teams and a
      proficiency in a variety of technologies and frameworks, I can bring your ideas to life through software engineering."
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>Franco Rossi's Portfolio</title>
  </head>
  <body class="flex w-full justify-center px-10">
    <SpeedInsights />
    <main
      class="z-10 mx-auto flex max-w-screen-xl flex-col items-center gap-20 px-4 py-8 text-center lg:py-16"
    >
      <slot />
    </main>
    <div
      class="absolute left-0 top-0 z-0 h-full w-full bg-gradient-to-b from-slate-50 to-transparent dark:from-slate-900"
    >
    </div>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  body {
    font-family: "Onest", sans-serif;
    color: #e4e4e7;
  }
</style>
