---
import SpeedInsights from "@vercel/speed-insights/astro";
import BackgroundGradient from "../components/BackgroundGradient.astro";
import BackgroundDotsPattern from "../components/BackgroundDotsPattern.astro";

import "@fontsource/onest/200.css";
import "@fontsource/onest/400.css";
import "@fontsource/onest/700.css";
import "@fontsource/onest/800.css";

type Props = {
  title: string;
  description: string;
};

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>

    <meta
      name="google-site-verification"
      content="-mD3KV3yVHL02_25DtmRLfm8wY58TtYa2dGQOUoc7RU"
    />
  </head>
  <body
    class="flex h-screen min-h-screen w-full justify-center overscroll-none bg-slate-950 px-5 sm:px-10"
  >
    <SpeedInsights />
    <BackgroundGradient />
    <BackgroundDotsPattern />

    <main
      class="z-10 flex max-w-screen-xl flex-col items-center gap-20 px-4 py-8 text-center lg:py-16"
    >
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
    color-scheme: light dark;
  }

  html {
    font-family: "Onest", sans-serif;
    color: #e4e4e7;
    scroll-behavior: smooth;
  }

  @media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
  }
</style>

<script is:inline>
  const theme = (() => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    if (window.matchMedia("(prefers-color-scheme: dark)").matches) {
      return "dark";
    }
    return "light";
  })();

  if (theme === "light") {
    document.documentElement.classList.remove("dark");
  } else {
    document.documentElement.classList.add("dark");
  }

  window.localStorage.setItem("theme", theme);
</script>
